<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row  style="justify-content: center;">
  <ion-col size="10">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2
          (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
          <ion-slide *ngFor="let s of sliderTwo.slidesItems" style="border: 1px solid;">
            <div class="inner-div">
              <span class="slider-nav arrow-prev" (click)="slidePrev(sliderTwo,slideWithNav2)">
                <div class="prev-icon-custom custon-nav" ></div>
              </span>
              <!-- // uncomment this for logic one -->
              <div style="width: 100%; display: flex; border: 1px solid red;">
                <div class="img-div">
                  <img [src]="s.img">
                </div>
                <div class="content-div">
                  <p>sdfs</p>
                </div>
              </div>
              <!--  uncomment this for logic two-->
              <!-- <ion-row class="main-content-div">
                <ion-col size="6">
                  <div class="img-div">
                    <img [src]="s.img">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <p>sdfs</p>
                </ion-col>
              </ion-row> -->
              <span class="slider-nav arrow-next" (click)="slideNext(sliderTwo,slideWithNav2)">
                <div class="next-icon-custom custon-nav" ></div>
              </span>
            </div>
          </ion-slide>
        </ion-slides>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-col>
</ion-row>
</ion-content>